<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>306458683305-7mjv04gsarfvo6emmcdsptp1lb0svtic.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.306458683305-7mjv04gsarfvo6emmcdsptp1lb0svtic</string>
	<key>API_KEY</key>
	<string>AIzaSyCl63KtikiZB5EBg2nq0ISf3rhGYx8154w</string>
	<key>GCM_SENDER_ID</key>
	<string>306458683305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.square63.todoList</string>
	<key>PROJECT_ID</key>
	<string>stripefirebase-d2abb</string>
	<key>STORAGE_BUCKET</key>
	<string>stripefirebase-d2abb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306458683305:ios:5addc1af4b4ca153bd86b8</string>
</dict>
</plist>